.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.heading {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #450707;
  z-index: 9999;
  margin-top: 60px;
}


.container {
  margin-top: 60px;
}

.homePage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.center {
 
  background-color: #f1f1f1;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center p {
  margin-bottom: 10px;
  font-size: 16px;
}

.center button {
  padding: 8px 16px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.center button:hover {
  background-color: darkblue;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #712828;
  padding: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f1f1f1;
}

nav button {
  padding: 10px 20px;
  background-color: #143e7c;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

nav button:hover {
  background-color: #1f2f89;
}


h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

input {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.search{
  height: 30px;
  width: 300px;
  display: flex;
}